<% rfidData.forEach(function(data) { %>
<tr class="notification-item" data-id="1">
  <td>
    <div class="date">
      <span><%= data.date %></span>
      <small><%= data.time %></small>
    </div>
  </td>
  <td>
    <strong><%= data.name || "Unknown" %></strong>
    <small><%= data.details || "No details available" %></small>
  </td>
  <td><%= data.epc %></td>
  <td><span class="status in">In</span></td>
</tr>
<% }); %>
