<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFID Registration</title>
    <link rel="stylesheet" href="../css/rfidstyle.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("./includes/sidebar") %>
    <div class="main-container">
      <div class="mas-header">
        <h1><span style="color: #095c02; font-weight: 800;">RFID</span></h1>
      </div>
      <div class="fix"></div>
      <div class="search-add">
        <!-- <div class="search-bar">
          <input type="text" id="search" placeholder="Search..." />
        </div> -->
        <button class="add-btn" onclick="openModal()">ADD RFID</button>
      </div>
      <div class="table-wrapper">
        <table class="rfid-table">
          <thead>
            <tr>
              <th>RFID TAG</th>
              <th>ITEM NAME</th>
              <th>PROPERTY NO.</th>
              <th>DATE & TIME</th>
              <th>STATUS</th>
              <th>EMAIL</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="rfid-table-body"></tbody>
        </table>
        <nav
          aria-label="Page navigation"
          id="paginationNav"
          style="margin-top: 24px"
        >
          <% if (totalPages> 1) { %> <% if (currentPage> 1) { %>
          <a
            href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
            aria-label="Previous Page"
            >Previous</a
          >
          <% } %> <% if (currentPage < totalPages) { %>
          <a
            href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
            aria-label="Next Page"
            >Next</a
          >
          <% } %> <% } %>
        </nav>
      </div>
    </div>

    <form action="/rfid/save/rfid" method="POST">
      <div class="modal" id="rfid-modal">
        <div class="modal-content">
          <header class="modal-header">
            <h2>RFID Registration Form</h2>
          </header>
          <div class="modal-body">
            <div class="form-row">
              <input
                type="text"
                id="rfid_tag1"
                name="rfid_tag"
                placeholder="Enter RFID Tag"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="confirms">Confirm</button>
            <button
              onclick="closeModal()"
              type="button"
              class="cancels"
              id="cancels"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>

    <style>
      .hidden {
        display: none !important;
      }

      .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .hidden1 {
        display: none !important;
      }

      .hidden2 {
        display: none !important;
      }

      .popup1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .popup2 {
        display: none !important;
      }

      .popup2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .popup-content {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 300px;
        border: 3px solid #095c02;
      }

      .popup-content h3 {
        margin-bottom: 15px;
      }

      .popup-content input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .popup-content .submits {
        background-color: #095c02;
        transition: all 0.3s ease-in-out;
      }

      .popup-content .cancels {
        background-color: maroon;
        transition: all 0.3s ease-in-out;
      }

      .popup-content .submits:hover {
        background-color: #1d8d01;
      }

      .popup-content .cancels:hover {
        background-color: rgb(192, 0, 0);
      }

      .popup-content button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: #ccc;
        font-family: Poppins;
      }
    </style>
    // Assign
    <div id="popup" class="popup hidden">
      <form method="POST" action="/rfid/save/rfid-update">
        <div class="popup-content">
          <h3>Enter Property Number</h3>
          <input
            type="text"
            id="propertyNo"
            name="property_no"
            placeholder="Enter Property Number"
          />
          <div class="hoverable" id="results"></div>
          <input type="text" id="itemName" name="item_name" />
          <input type="hidden" id="tag_id_assign" name="tag_id" />

          <button onclick="assignProperty()" type="submit" class="submits">
            Submit
          </button>
          <button onclick="closePopup()" type="button" class="cancels">
            Cancel
          </button>
        </div>
      </form>
    </div>
    // Update
    <div id="popup1" class="popup hidden1">
      <form method="POST" action="/rfid/save/rfid-update_tag">
        <div class="popup-content">
          <h3>Update RFID Tag</h3>
          <input
            type="text"
            id="new_rfid_tag"
            name="new_rfid_tag"
            placeholder="Enter RFID Tag"
          />
          <input type="hidden" name="currentTagId" id="currentTagId" />
          <div class="hoverable" id="results"></div>
          <button onclick="assignProperty()" type="submit" class="submits">
            Submit
          </button>
          <button onclick="closePopup1()" type="button" class="cancels">
            Cancel
          </button>
        </div>
      </form>
    </div>
    // Delete
    <div id="popup2" class="popup hidden2">
      <form action="/rfid/delete/rfid" method="post" class="popup-content">
        <h3>Confirm Deletion</h3>
        <p>Are you sure you want to delete this?</p>
        <input type="hidden" name="tag_id" id="tag_id_delete" />
        <div class="buttons">
          <button type="submit" class="submits">Yes, Delete</button>
          <button onclick="closePopup2()" type="button" class="cancels">
            Cancel
          </button>
        </div>
      </form>
    </div>

    <script src="../js/rfid_api.js"></script>
    <script>
      // JavaScript for Dropdown and Modal

      function openModal() {
        document.getElementById("rfid-modal").style.display = "flex";
      }

      function closeModal() {
        document.getElementById("rfid-modal").style.display = "none";
      }

      function confirmAction() {
        alert("Form confirmed!");
        closeModal();
      }

      function closePopup() {
        document.getElementById("popup").classList.add("hidden");
      }

      function closePopup1() {
        document.getElementById("popup1").classList.add("hidden1");
      }

      function closePopup2() {
        document.getElementById("popup2").classList.add("hidden2");
      }
    </script>
  </body>
</html>
